<h2><%= @user.nickname %>さんの購入品一覧</h2>
<% @user.items.each do |item| %>
  <% if current_user.id == @user.id %>
    <p><%= item.name %>:<%= item.price %>円:<%= link_to '削除',item_path(item.id),method: :delete %><p>
  <% else %>
     <p><%= item.name %>:<%= item.price %>円<p>
  <% end %>
<% end %>
